/* General styles */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --shadow-color: #f5f5f5;
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --decoration-color: #BD4B4B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181717;
    --shadow-color: #161313;
    --primary-text-color: #e6e6e6;
    --secondary-text-color: #ece6e6;
    --durability-text-color: #ad92959c;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  position: relative;
  padding: 50px 0;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/dice.svg);
  background-size: 150px;
  filter: invert(.9);

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (prefers-color-scheme: dark) {
  body::before {
    filter: invert(0);
  }
}

@keyframes pulse {
  0% {opacity: 100%;}
  100% {opacity: 50%;}
}

main {
  margin: 0 auto;
  width: fit-content;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

main.is-flipped {
  transform: rotateY(180deg);
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.resume {
  margin: 0 10px;
  background-color: var(--background-color);
  border: 1px solid var(--shadow-color);
  box-shadow: 1px 1px 7px 7px var(--shadow-color);
  padding: 30px 0;
  max-width: 900px;
  border-radius: 20px;
  color: var(--secondary-text-color);
  backface-visibility: hidden;
}

.resume-back {
  position: absolute;
  width: calc(100% - 20px); height: 100%;
  left: 50%; top: -50px;
  transform: translateX(calc(-50% - 10px)) rotateY(180deg);
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.resume-back img {
  width: 90%; max-width: 600px;
  height: fit-content;
  top: 50px;
}

.resume__block {
  border-bottom: 3px solid var(--decoration-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

svg.resume__icon {
  fill: var(--decoration-color);
}

.contact_info_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}

.contact_info_container>div {
  justify-content: center;
}

.contact_info_container>:nth-child(2) {
  align-items: center;
}

.contact_info_container>:last-child {
  align-items: end;
}

.resume__block-header {
  margin-bottom: .7em;
}

.main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.main-info__item:not(:last-child) {
  margin-bottom: 2.5em;
}

.main-info__subitem:not(:last-child) {
  margin-bottom: 1em;
}

.main-info__durability {
  color: var(--durability-text-color);
  font-size: 14px;
}

@media screen and (width <= 576px) {
  .main-info {
    grid-template-columns: 1fr;
    gap: 2.5em;
  }

  .contact_info_container {
    grid-template-columns: 1fr;
  }

  .contact_info_container>div,
  .contact_info_container>:last-child {
    align-items: center;
  }  

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}

/* Contact info styles */
.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  color: var(--primary-text-color);
  text-decoration-color: var(--decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  margin-bottom: 1em;
}

.contact-info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 1em;
}

.contact-info__item-icon-wrapper {
  margin-right: .5em;
  width: 1.2em;
  height: 1.2rem;
  display: flex;
  justify-content: center;
}

.contact-info__item-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--decoration-color);
}

/* Intro and skills styles */
.intro {
  display: flex;
}

.intro__icon-wrapper {
  margin-right: 1em;
  width: 3em;
  height: 1.5em;
}

.intro__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro_text {
  text-align: justify;
}

.skills__header {
  text-align: center;
}

.skills__text {
  text-align: justify;
}

.experiences__company-responsibilities {
  padding-left: 1.5em;
  text-align: justify;
}
